body {
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.wrapper  {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 360px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 15px auto;
  align-self: center;
}

.wrapperQuestion  {
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  width: 450px;
  max-width: 100%;
  margin-bottom: 15px;
  margin-top: 0px;
  align-self: center;
  box-sizing: border-box;
  font: 17px arial, sans-serif;
  font-weight: bold;
}

.wrapperTop  {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 1200px;
  max-width: 100%;
  margin: 5px auto;
  align-self: center;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
}
h1 {
  flex: 1;
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #7A7B7F;
}
header span {
  flex: 1;
  text-align: right;
  font-size: 12px;
  color: #999;
}
.ways ul {
  display: flex;
  list-style: none;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
.ways li {
  align-self: center;
  flex: 1;
  background-color: #F5F7FA;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  color: #999;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid #ddd;
}

.ways li:first-child {
  border-right: 0;
}
.ways li:last-child {
  border-left: 0;
}
.ways li.active {
  border: 2px solid #1AA1E5;
  color: #66676C;
}
.ways li.active::before {
  content: '\f00c';
  font-family: 'fontawesome';
  color: #1AA1E5;
}
.ways li:not(.active) {
  padding: 16px 0;
}
section {
  display: none;
}
section.active {
  display: block;
}
section input,
section textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  outline: 0;
  background-color: #F5F7FA;
  padding: 10px;
  margin-bottom: 10px;
  letter-spacing: 1.4px;
  color: #070707;
  text-align: left;
}
section textarea {
  min-height: 200px;
}
section select {
  display: none;
}

.select-option {
  background-color: #F5F7FA;
  color: #999;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}
.select-option::before {
  content: '\f107';
  font-family: 'fontawesome';
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 9px;
  margin-right: 10px;
  font-size: 20px;
}
.select-option div:not(.option) {
  padding: 10px 10px;
  border: 1px solid #ddd;
}
.select-option div:last-child,
.select-option .head {
  border-bottom: 1px solid #ddd;
}
.select-option .option {
  display: none;
}
.select-option .option div {
  text-transform: capitalize;
}
.select-option.active .option {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #F5F7FA;
  box-sizing: border-box;
  padding: 0;
  margin-top: -1px;
  z-index: 2;
}
.select-option .option div {
  border-bottom: 0;
}
.images {
  display: flex;
  flex-wrap:  wrap;
  margin-top: 0px;
  justify-content: center;
}
.images .img,
.images .pic {
  flex-basis: 60%;
  margin-bottom: 10px;
  border-radius: 4px;
}
.images .img {
  width: 100px;
  height: 250px;
  background-size: cover;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-basis: 100%;
  image-orientation: from-image;
}
.images .img:nth-child(3n) {
  margin-right: 0;
}
.images .img span {
  display: none;
  text-transform: capitalize;
  z-index: 2;
}
.images .img::after {
  content: '';
  width: 100%;
  height: 100%;
  transition: opacity .1s ease-in;
  border-radius: 4px;
  opacity: 0;
  position: absolute;
}
.images .img:hover::after {
  display: block;
  background-color: #000;
  opacity: 0;
}
.images .img:hover span {
  display: block;
}
.images .pic {
  background-color: #49C581;
  align-self: center;
  text-align: center;
  padding: 20px 0;
  text-transform: uppercase;
  color: #848EA1;
  font-size: 12px;
  cursor: pointer;
  margin-top: 25px;
  margin-bottom: 15px;
  
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
-webkit-touch-callout: none;

-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

}

@media screen and (max-width: 400px) {
  .wrapper {
    margin-top: 0;
  }
  header {
    flex-direction: column;
  }
  header span {
    text-align: left;
    margin-top: 10px;
  }
  .ways li,
  section input, 
  section textarea,
  .select-option .head, 
  .select-option .option div {
   font-size: 8px;
  }
  .images .img,
  .images .pic {
    flex-basis: 100%;
  }
  
  .images .img {
	    flex-basis: 80%;
		image-orientation: from-image;
  }
  
  .wrapperTop  {
  background-color: #22343;
  padding: 5px;
  border-radius: 10px;
  width: 1200px;
  max-width: 100%;
  margin: 2px auto;
  align-self: center;
  box-sizing: border-box;
}
}

.wrapper footer ul {
  margin: 0;
  margin-top: 30px;
  display: flex;
  list-style: none;
  padding: 0;
}
.wrapper footer ul li {
  flex: 1;
}
.wrapper footer li span {
  text-transform: capitalize;
  cursor: pointer;
}
.wrapper footer li:first-child {
  color: #999;
  text-align: left;
  font: 13px arial, sans-serif;
}
.wrapper footer li:first-child span {
  border-bottom: 1px solid #ddd;
}
.wrapper footer li:last-child {
  text-align: right;
}
.wrapper footer li:last-child span {
  background-color: #bfbfbf;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  font: 14px arial, sans-serif;
}

.notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
  top: auto;
  right: auto;
}

.notification p {
  margin: 0;
  padding: 0;
}
.notification .btn {
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  align-items: center;
  animation: fadeIn .4s ease-in;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.notification .btn::before {
  margin-right: 12px;
  font-family: 'fontawesome';
  font-size: 15px;
}
.notification span {
  margin-left: 10px;
  cursor: pointer;
  flex: 1;
  text-align: right;
}

.notification .error {
  background-color: #ECC8C5;
  border: 1px solid #BD8181;
}
.notification .error span {
  color: #C79995;
}
.notification .error::before {
  content: '\f05c';
  color: #B2312F;
  
}
.notification .success {
  background-color: #DEF2D6;
  border: 1px solid #B3CEA9;
}
.notification .success span {
  color: #AFC7A7;
}
.notification .success::before {
  content: '\f00c';
  color: #5A7052;
}

footer {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 12px;
}
footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.NotificationText {
font-family: Arial;
  font: 16px arial, sans-serif;
   font-weight: normal;
}

.FormQ {
  font: 14px arial, sans-serif;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background:#f2f2f2;
 border-radius: 15px;
  font: 14px arial, sans-serif;

}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: -4px;
  left: -4px;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #6f7c91;
}

.container input:checked ~ .container {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}

center {
font-family: Arial;
  font: 16px arial, sans-serif;
   font-weight: normal;
}